@using Turisticka_Agencija.Models
@{
    Layout = null;
    ViewBag.Title = "Istorija";
}

<!DOCTYPE html>

@{

    <!--INIT-->

    Dictionary<string, Aranzman> aranzmani = (Dictionary<string, Aranzman>)HttpContext.Current.Application["aranzmani"];
    Dictionary<string, Aranzman> aranzmaniIstorija = (Dictionary<string, Aranzman>)HttpContext.Current.Application["istorija"];

    string dpmin = (string)HttpContext.Current.Application["dpmin"];
    string dpmax = (string)HttpContext.Current.Application["dpmax"];
    string dkmin = (string)HttpContext.Current.Application["dkmin"];
    string dkmax = (string)HttpContext.Current.Application["dkmax"];

    List<SmestajnaJedinica> cena = (List<SmestajnaJedinica>)HttpContext.Current.Application["cena"];

    <!--INIT-->

}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/flexboxgrid.css">
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>

    <!-- GLAVNI MENI -->

    <header id="main-header">
        <div class="container">
            <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <h1><span class="primary-text">Travel</span>Fuge</h1>
                </div>
                <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                    <nav id="navbar">
                        <ul>
                            <li><a href="~/Home/Index">Home</a></li>
                            <li class="active"><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                            <li><a href="~/Login/Index">Prijava</a></li>
                            <li><a href="~/Register/Index">Registracija</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- GLAVNI MENI -->
    <!-- GLAVNI HEADER -->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
                    <h1>LETOVANJE 2021 uz <span class="primary-text">Travel</span>Fuge</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Uvek sveže ponude</p>
                </div>
            </div>
        </div>
    </section>

    <!-- GLAVNI HEADER -->
    <!-- ARANZMANI -->

    <section id="offers">
        <div class="container">
            <div class="row center-xs center-sm center-md center-md">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Prethodni aranžmani</h2>
                    <p>Trenutne ponude možete pronaći na <a href="~/Home/Index">Home</a> stranici</p>

                    <div class="row center-xs center-sm center-md center-md">

                        <!-- LOKACIJE -->

                        @{
                            foreach (Aranzman a in aranzmani.Values)
                            {
                                if (a.datumPocetkaPutovanja.CompareTo(DateTime.Now) <= 0)
                                {


                                    int najnizaCena = 0;

                                    foreach (SmestajnaJedinica smestaj in a.smestaj.smestajneJedinice)
                                    {

                                        <!-- PRONALAZENJE PRVE CENE U LISTI/NAJNIZE -->

                                        foreach (SmestajnaJedinica s in cena)
                                        {
                                            if (s.nazivSmestaja == smestaj.nazivSmestaja)
                                            {
                                                najnizaCena = s.cena;
                                            }
                                        }

                                        <!-- PRONALAZENJE PRVE CENE U LISTI/NAJNIZE -->
                                    }


                                    int brojDana = (a.datumZavrsetkaPutovanja - a.datumPocetkaPutovanja).Days;
                                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                        <img class="aranzman" src="@a.posterAranzmana" />
                                        <h4>@a.naziv</h4>
                                        <p>
                                            @a.datumPocetkaPutovanja.ToString("dd/MM/yyyy") - @a.datumZavrsetkaPutovanja.ToString("dd/MM/yyyy").
                                            @brojDana dana već od <span class="primary-text-cena">@najnizaCena</span>,<span class="gore">EUR</span><span class="dole">00</span>
                                            <br />
                                        </p>
                                        <form action="~/Informacije/PrikazInformacijaAranzmana" method="post">
                                            <input type="text" name="naziv" value="@a.naziv" hidden>
                                            <input type="submit" value="Pogledaj">
                                        </form>
                                    </div>
                                }
                            }
                        }

                        <!-- LOKACIJE -->

                    </div>
                </div>
            </div>
    </section>

    <!-- ARANZMANI -->

    <!-- PRETRAGA ARANŽMANA -->

    <form action="~/Istorija/Pretraga" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 style="margin-top: 15px">Pretraga i sortiranje prethodnih aranžmana</h2>

                        <div class="row center-xs center-sm center-md center-md">

                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <h4>Datum početka putovanja</h4>
                                <input type="date" name="datumPocetkaMin" value="@dpmin">
                                <input type="date" name="datumPocetkaMax" value="@dpmax">
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <h4>Datm završetka putovanja</h4>
                                <input type="date" name="datumZavrsetkaMin" value="@dkmin">
                                <input type="date" name="datumZavrsetkaMax" value="@dkmax">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <input list="prevoz" name="tipPrevoza" placeholder="Odaberite tip prevoza" style="text-align:center">
                                <datalist id="prevoz">
                                    @foreach (TipPrevoza t in aranzmaniIstorija.Values.Select(tip => tip.tipPrevoza).Distinct())
                                    {
                                        <option value="@t.ToString()"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <input list="aranzman" name="tipAranzmana" placeholder="Odaberite tip aranžmana" style="text-align:center">
                                <datalist id="aranzman">
                                    @foreach (TipAranzmana t in aranzmaniIstorija.Values.Select(tip => tip.tipAranzmana).Distinct())
                                    {
                                        <option value="@t.ToString()"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <input type="text" placeholder="Unesite ime aranžmana" name="nazivAranzmana">
                            </div>
                            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                                <input type="submit" value="Pretraži"
                                       style="
                                        color:white;
                                        padding:10px;
                                        border:0px;
                                        width:267px;
                                        height:35px;
                                        text-align:center;
                                        margin-bottom:30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- PRETRAGA ARANŽMANA -->

    <!-- SORTIRANJE ARANŽMANA -->

    <form action="~/Istorija/Sortiranje" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input list="sort" name="podatakZaSortiranje" placeholder="Odaberite podatak za sortiranje" style="text-align:center">
                        <datalist id="sort">
                            <option value="Naziv aranžmana"></option>
                            <option value="Datum početka putovanja"></option>
                            <option value="Datum kraja putovanja"></option>
                        </datalist>
                        <input list="sortTip" name="tipSortiranja" placeholder="Odaberite način sortiranja" style="text-align:center">
                        <datalist id="sortTip">
                            <option value="Rastuće"></option>
                            <option value="Opadajuće"></option>
                        </datalist>
                        <input type="submit" value="Sortiraj" id="pretraga"
                               style="
                               color:white;
                               padding:10px;
                               border:0px;
                               width:267px;
                               height:35px;
                               text-align:center;
                               margin-bottom:30px;">
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- SORTIRANJE ARANŽMANA -->

    <!-- INFORMACIJE -->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="start-xs start-sm start-md start-lg col-xs-12 col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="center-xs center-sm center-md center-lg">O nama</h4>
                    <p style="text-align:justify">
                        Turistička agencija <span class="primary-text">Travel</span>Fuge je sa vama od 1999. godine, kada smo započeli svoju misiju da svima
                        približimo mogućnost da na jednom mestu mogu pronaći sve turističke usluge.Turističke agencije koje zastupa Maestral Novi Sad – Argus tours,
                        Plana tours, Nitravel, Moj Svet, Turisttrade, Travelland, Aqua travel, Wayout, Dertour, Astra travel.
                    </p>
                </div>
                <div class="end-xs end-sm end-md end-lg col-xs-12 col-sm-3 col-md-4 col-lg-3">
                </div>
            </div>
        </div>
    </section>

    <!-- INFORMACIJE -->

    <!-- FOOTER -->

    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2021 | TravelFuge</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER -->

</body>

</html>
