@using Turisticka_Agencija.Models
@{
    Layout = null;
    ViewBag.Title = "Pregled i izmena aranzmana";
}

<!DOCTYPE html>

@{

    <!--INIT-->

    Dictionary<string, Aranzman> aranzmani = (Dictionary<string, Aranzman>)HttpContext.Current.Application["aranzmani"];

    List<SmestajnaJedinica> cena = (List<SmestajnaJedinica>)HttpContext.Current.Application["cena"];

    Korisnik korisnik = (Korisnik)HttpContext.Current.Session["korisnik"];

    string dpmin = (string)HttpContext.Current.Application["dpmin"];
    string dpmax = (string)HttpContext.Current.Application["dpmax"];
    string dkmin = (string)HttpContext.Current.Application["dkmin"];
    string dkmax = (string)HttpContext.Current.Application["dkmax"];

    <!--INIT-->

}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/flexboxgrid.css">
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>

    <!-- GLAVNI MENI -->

    @{
        if (korisnik != null && korisnik.uloga.Equals(Uloga.MENADZER))
        {

            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Travel</span>Fuge</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Rezervacije/Index">Rezervacije</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                                    <li><a href="~/Menadzer/Index">Kreriraj aranžman</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.ADMINISTRATOR))
        {

            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Travel</span>Fuge</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Rezervacije/Index">Rezervacije</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                                    <li><a href="~/Menadzer/Index">Kreriraj aranžman</a></li>
                                    <li><a href="~/Administrator/Index">Registruj menadžera</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

        }

    }

    <!-- GLAVNI MENI -->
    <!-- GLAVNI HEADER -->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-7 showcase-content">
                    <h1>LETOVANJE 2021 uz <span class="primary-text">Travel</span>Fuge</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Klikom do mora</p>
                </div>
            </div>
        </div>
    </section>

    <!-- GLAVNI HEADER -->
    <!-- ARANZMANI -->

    <section id="offers">
        <div class="container">
            <div class="row center-xs center-sm center-md center-md">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                    <div class="row center-xs center-sm center-md center-md">

                        <!-- LOKACIJE -->

                        @{
                            int najnizaCena = 0;
                            foreach (Aranzman a in aranzmani.Values)
                            {

                                <!-- PRONALAZENJE PRVE CENE U LISTI/NAJNIZE -->

                                if (a.smestaj.smestajneJedinice.Count() == 0)
                                {
                                    najnizaCena = 0;
                                }
                                else
                                {
                                    foreach (SmestajnaJedinica s in cena)
                                    {
                                        if (s.nazivSmestaja == a.smestaj.nazivSmestaja)
                                        {
                                            najnizaCena = s.cena;
                                        }
                                    }
                                }

                                <!-- PRONALAZENJE PRVE CENE U LISTI/NAJNIZE -->

                                if (a.menadzerID.Equals(korisnik.korisnicko_ime))
                                {
                                    int brojDana = (a.datumZavrsetkaPutovanja - a.datumPocetkaPutovanja).Days;
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <img class="aranzman" src="@a.posterAranzmana" />
                            <h4>@a.naziv</h4>
                            <p>
                                @a.datumPocetkaPutovanja.ToString("dd/MM/yyyy") - @a.datumZavrsetkaPutovanja.ToString("dd/MM/yyyy").
                                @brojDana dana već od <span class="primary-text-cena">@najnizaCena</span>,<span class="gore">EUR</span><span class="dole">00</span>
                                <br />
                            </p>
                            <form action="~/AranzmanIzmena/Index" method="post">
                                <input type="text" name="naziv" value="@a.naziv" hidden>
                                <input type="submit" value="Izmeni">
                            </form>

                            @{ bool rezervisano = false;}

                            <!-- PROVERA ZA REZERVACIJE -->

                            @if (korisnik.rezervacije != null)
                            {
                                foreach (Rezervacija r in korisnik.rezervacije.Values)
                                {
                                    if (r.aranzman.Equals(a))
                                    {
                                        rezervisano = true;
                                    }
                                    else
                                    {
                                        rezervisano = false;
                                    }
                                }
                            }

                            <!-- PROVERA ZA REZERVACIJE -->

                            @if (a.obrisan.Equals(false) && !rezervisano)
                            {
                                <form action="~/Menadzer/Deaktiviraj" method="post">
                                    <input type="text" name="naziv" value="@a.naziv" hidden>
                                    <input type="submit" value="Deaktiviraj">
                                </form>
                            }
                            else if (a.obrisan.Equals(true))
                            {
                                <form action="~/Menadzer/Aktiviraj" method="post">
                                    <input type="text" name="naziv" value="@a.naziv" hidden>
                                    <input type="submit" value="Aktiviraj">
                                </form>
                            }
                        </div>
                                }
                            }
                        }

                        <!-- LOKACIJE -->

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ARANZMANI -->

    <!-- PRETRAGA ARANŽMANA -->

    <form action="~/Menadzer/Pretraga" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h2 style="margin-top: 15px">Pretraga i sortiranje aranžmana</h2>

                        <div class="row center-xs center-sm center-md center-md">

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <h4>Datum početka putovanja</h4>
                                <input type="date" name="datumPocetkaMin" value="@dpmin">
                                <input type="date" name="datumPocetkaMax" value="@dpmax">
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <h4>Datm završetka putovanja</h4>
                                <input type="date" name="datumZavrsetkaMin" value="@dkmin">
                                <input type="date" name="datumZavrsetkaMax" value="@dkmax">
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input list="prevoz" name="tipPrevoza" placeholder="Odaberite tip prevoza" style="text-align:center">
                                <datalist id="prevoz">
                                    @foreach (TipPrevoza t in aranzmani.Values.Select(tip => tip.tipPrevoza).Distinct())
                                    {
                                        <option value="@t.ToString()"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input list="aranzman" name="tipAranzmana" placeholder="Odaberite tip aranžmana" style="text-align:center">
                                <datalist id="aranzman">
                                    @foreach (TipAranzmana t in aranzmani.Values.Select(tip => tip.tipAranzmana).Distinct())
                                    {
                                        <option value="@t.ToString()"></option>
                                    }
                                </datalist>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"></div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <input type="text" placeholder="Unesite ime aranžmana" name="nazivAranzmana">
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <input type="submit" value="Pretraži"
                                       style="
                                        color:white;
                                        padding:10px;
                                        border:0px;
                                        width:267px;
                                        height:35px;
                                        text-align:center;
                                        margin-bottom:30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- PRETRAGA ARANŽMANA -->

    <!-- SORTIRANJE ARANŽMANA -->

    <form action="~/Menadzer/Sortiranje" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input list="sort" name="podatakZaSortiranje" placeholder="Odaberite podatak za sortiranje" style="text-align:center" required>
                        <datalist id="sort">
                            <option value="Naziv aranžmana"></option>
                            <option value="Datum početka putovanja"></option>
                            <option value="Datum kraja putovanja"></option>
                        </datalist>
                        <input list="sortTip" name="tipSortiranja" placeholder="Odaberite način sortiranja" style="text-align:center" required>
                        <datalist id="sortTip">
                            <option value="Rastuće"></option>
                            <option value="Opadajuće"></option>
                        </datalist>
                        <input type="submit" value="Sortiraj" id="pretraga"
                               style="
                               color:white;
                               padding:10px;
                               border:0px;
                               width:267px;
                               height:35px;
                               text-align:center;
                               margin-bottom:30px;">
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- SORTIRANJE ARANŽMANA -->


    <!-- INFORMACIJE -->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="start-xs start-sm start-md start-lg col-xs-12 col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="center-xs center-sm center-md center-lg">O nama</h4>
                    <p style="text-align:justify">
                        Turistička agencija <span class="primary-text">Travel</span>Fuge je sa vama od 1999. godine, kada smo započeli svoju misiju da svima
                        približimo mogućnost da na jednom mestu mogu pronaći sve turističke usluge.Turističke agencije koje zastupa Maestral Novi Sad – Argus tours,
                        Plana tours, Nitravel, Moj Svet, Turisttrade, Travelland, Aqua travel, Wayout, Dertour, Astra travel.
                    </p>
                </div>
                <div class="end-xs end-sm end-md end-lg col-xs-12 col-sm-3 col-md-4 col-lg-3">
                </div>
            </div>
        </div>
    </section>

    <!-- INFORMACIJE -->
    <!-- FOOTER -->

    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2021 | TravelFuge</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER -->

</body>

</html>
