@using Turisticka_Agencija.Models
@{
    Layout = null;
    ViewBag.Title = "Menadžer-Smeštaj-Izmena-Pregled";
}

<!DOCTYPE html>

@{

    <!--INIT-->

    Dictionary<string, Aranzman> aranzmani = (Dictionary<string, Aranzman>)HttpContext.Current.Application["aranzmani"];
    Dictionary<string, Smestaj> smestaji = (Dictionary<string, Smestaj>)HttpContext.Current.Application["smestaji"];

    Korisnik korisnik = (Korisnik)HttpContext.Current.Session["korisnik"];

    <!--INIT-->

}

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/CSS/flexboxgrid.css">
    <link rel="stylesheet" href="~/Content/CSS/style.css">
</head>

<body>
    <!-- GLAVNI MENI -->

    @{
        if (korisnik != null && korisnik.uloga.Equals(Uloga.MENADZER))
        {

            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-2 col-md-2 col-lg-2">
                            <h1><span class="primary-text">Travel</span>Fuge</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-10 col-md-10 col-lg-10">
                            <nav id="navbar">
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Rezervacije/Index">Rezervacije</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                                    <li><a href="~/Menadzer/Index">Kreriraj aranžman</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>
        }

        else if (korisnik != null && korisnik.uloga.Equals(Uloga.ADMINISTRATOR))
        {

            <header id="main-header">
                <div class="container">
                    <div class="row center-xs middle-xs middle-sm middle-md middle-lg">
                        <div class="start-sm start-md start-lg col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <h1><span class="primary-text">Travel</span>Fuge</h1>
                        </div>
                        <div class="end-sm end-md end-lg col-xs-12 col-sm-8 col-md-8 col-lg-8">
                            <nav id="navbar">
                                <ul>
                                    <li><a href="~/Home/Index">Home</a></li>
                                    <li><a href="~/Rezervacije/Index">Rezervacije</a></li>
                                    <li><a href="~/Istorija/Index">Prethodni aranžmani</a></li>
                                    <li><a href="~/Menadzer/Index">Kreriraj aranžman</a></li>
                                    <li><a href="~/Administrator/Index">Registruj menadžera</a></li>
                                    <li><a href="~/Profil/Index">Profil</a></li>
                                    <li><a href="~/Login/Odjava">Odjava</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

        }

    }

    <!-- GLAVNI MENI -->

    <!-- GLAVNI HEADER -->

    <section id="showcase">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg middle-sm">
                <div class="col-xs-10 col-sm-10 col-md-10 col-lg-9 showcase-content">
                    <h1>LETOVANJE 2021 uz <span class="primary-text">Travel</span>Fuge</h1>
                    <p style="color:white; font-size:25px; margin-top:10px">Klikom do mora</p>
                </div>
            </div>
        </div>
    </section>

    <!-- GLAVNI HEADER -->

    <!-- SMESTAJI -->

    <section id="offers">
        <div class="container">
            <div class="row center-xs center-sm center-md center-md">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h2>Pregled i izmena smeštaja</h2>
                    <p>

                        <h4 style="margin-bottom:20px; color:#7BA17D">@ViewBag.Error</h4>

                </div>
                @foreach (Smestaj s in smestaji.Values)
                {
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        <div class="row center-xs center-sm center-md center-md">
                            <form action="~/Menadzer/IzmeniSmestaj" method="post" style="margin-top:20px; margin-bottom:20px">
                                <input list="tipS" name="tipSmestaja" placeholder="Odaberite tip smeštaja" style="text-align:center" value="@s.tipSmestaja.ToString()" required>
                                <datalist id="tipS">
                                    <option value="HOTEL"></option>
                                    <option value="MOTEL"></option>
                                    <option value="VILA"></option>
                                </datalist>
                                <input type="text" name="naziv" placeholder="Unesite naziv smeštaja" value="@s.nazivSmestaja" required>
                                <br>
                                <input type="number" name="brojZvezdica" placeholder="Unesite broj zvezdica smeštaja" value="@s.brojZvezdica.ToString()" required>
                                <input list="dostupanSpa" name="spa" placeholder="Odaberite dostupnost spa centra" style="text-align:center" value="@s.spa.ToString()" required>
                                <datalist id="dostupanSpa">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <br>
                                <input list="prilagodjenost" name="prilagodjen" placeholder="Označite pristupačnost" style="text-align:center" value="@s.prilagodjen.ToString()" required>
                                <datalist id="prilagodjenost">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input list="dostupanWifi" name="wifi" placeholder="Odaberite dostupnost interneta" style="text-align:center" value="@s.wifi.ToString()" required>
                                <datalist id="dostupanWifi">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <br>
                                <input list="dostupanBazen" name="bazen" placeholder="Odaberite dostupnost bazena" style="text-align:center" value="@s.bazen.ToString()" required>
                                <datalist id="dostupanBazen">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input type="submit" value="Izmeni smeštaj"
                                       style="
                                        color:white;
                                        padding:10px;
                                        border:0px;
                                        width:268px;
                                        height:34px;
                                        text-align:center;
                                        margin-bottom:30px;">
                            </form>
                            @foreach (Aranzman a in aranzmani.Values)
                            {
                                if (a.smestaj.nazivSmestaja.Equals(s.nazivSmestaja) && a.datumPocetkaPutovanja.CompareTo(DateTime.Now) <= 0 && a.smestaj.obrisan.Equals(false))
                                {
                                    <form action="~/Menadzer/DeaktivirajSmestaj" method="post" style="margin-top:-40px">
                                        <input type="text" name="nazivSmestaja" value="@s.nazivSmestaja" hidden>
                                        <input type="submit" value="Deaktiviraj smeštaj"
                                               style="
                                        color:white;
                                        padding:10px;
                                        border:0px;
                                        width:543px;
                                        height:34px;
                                        text-align:center;
                                        margin-top:-45px;
                                        margin-bottom:30px;">
                                    </form>
                                }
                            }
                            @if (s.obrisan)
                            {
                                    <form action="~/Menadzer/AktivirajSmestaj" method="post" style="margin-top:-40px">
                                        <input type="text" name="nazivSmestaja" value="@s.nazivSmestaja" hidden>
                                        <input type="submit" value="Aktiviraj smeštaj"
                                               style="
                                            color:white;
                                            padding:10px;
                                            border:0px;
                                            width:543px;
                                            height:34px;
                                            text-align:center;
                                            margin-top:-45px;
                                            margin-bottom:30px;">
                                    </form>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <!-- SMESTAJI -->

   <!-- PRETRAGA SMEŠTAJA -->

    <form action="~/Menadzer/PretragaSmestaja" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                        <div class="row center-xs center-sm center-md center-md">

                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <input list="tip" name="tipSmestaja" placeholder="Odaberite tip smestaja" style="text-align:center">
                                <datalist id="tip">
                                    @foreach (TipSmestaja t in smestaji.Values.Select(tip => tip.tipSmestaja).Distinct())
                                    {
                                        <option value="@t.ToString()"></option>
                                    }
                                </datalist>
                                <input type="text" placeholder="Unsite naziv smeštaja" name="nazivSmestaja">
                                <input list="bazen" name="bazen" placeholder="Dostpan bazen" style="text-align:center">
                                <datalist id="bazen">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input list="spa" name="spa" placeholder="Dostpan spa centar" style="text-align:center">
                                <datalist id="spa">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input list="prilago" name="prilagodjen" placeholder="Prilagođen" style="text-align:center">
                                <datalist id="prilago">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input list="w" name="wifi" placeholder="Dostupan wifi" style="text-align:center">
                                <datalist id="w">
                                    <option value="true"></option>
                                    <option value="false"></option>
                                </datalist>
                                <input type="submit" value="Pretraži"
                                       style="
                                        color:white;
                                        padding:10px;
                                        border:0px;
                                        width:267px;
                                        height:35px;
                                        text-align:center;
                                        margin-bottom:30px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- PRETRAGA SMEŠTAJA -->

    <!-- SORTIRANJE SMEŠTAJA -->

    <form action="~/Menadzer/SortiranjeSmestaja" method="post">
        <section id="offers">
            <div class="container">
                <div class="row center-xs center-sm center-md center-md">
                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                        <input list="sort" name="podatakZaSortiranje" placeholder="Odaberite podatak za sortiranje" style="text-align:center" required>
                        <datalist id="sort">
                            <option value="Naziv smeštaja"></option>
                        </datalist>
                        <input list="sortTip" name="tipSortiranja" placeholder="Odaberite način sortiranja" style="text-align:center" required>
                        <datalist id="sortTip">
                            <option value="Rastuće"></option>
                            <option value="Opadajuće"></option>
                        </datalist>
                        <input type="submit" value="Sortiraj" id="pretraga"
                               style="
                               color:white;
                               padding:10px;
                               border:0px;
                               width:267px;
                               height:35px;
                               text-align:center;
                               margin-bottom:30px;">
                    </div>
                </div>
            </div>
        </section>
    </form>

    <!-- SORTIRANJE SMEŠTAJA -->

    <!-- INFORMACIJE -->

    <section id="company">
        <div class="container">
            <div class="row">
                <div class="start-xs start-sm start-md start-lg col-xs-12 col-sm-3 col-md-3 col-lg-3">
                </div>
                <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <h4 class="center-xs center-sm center-md center-lg">O nama</h4>
                    <p style="text-align:justify">
                        Turistička agencija <span class="primary-text">Travel</span>Fuge je sa vama od 1999. godine, kada smo započeli svoju misiju da svima
                        približimo mogućnost da na jednom mestu mogu pronaći sve turističke usluge.Turističke agencije koje zastupa Maestral Novi Sad – Argus tours,
                        Plana tours, Nitravel, Moj Svet, Turisttrade, Travelland, Aqua travel, Wayout, Dertour, Astra travel.
                    </p>
                </div>
                <div class="end-xs end-sm end-md end-lg col-xs-12 col-sm-3 col-md-4 col-lg-3">
                </div>
            </div>
        </div>
    </section>

    <!-- INFORMACIJE -->

    <!-- FOOTER -->

    <footer id="main-footer">
        <div class="container">
            <div class="row center-xs center-sm center-md center-lg">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <p>Copyright &copy; 2021 | TravelFuge</p>
                </div>
            </div>
        </div>
    </footer>

    <!-- FOOTER -->

</body>

</html>
